.custom-button {
  text-transform: uppercase;
  outline: none;
  width: max-content;
  background-color: #4caf10;
  color: #fff;
  border: none;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.custom-button:hover,
.custom-button:active,
.custom-button:focus {
  background-color: #43a047;
}
