.custom-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./svg/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.google {
  width: 70px;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px dotted white;
}

.google:hover {
  background-color: antiquewhite;
  transition: all 0.5s ease;
  border: 1px dotted silver;
}

.google:focus {
  background-color: wheat;
  transition: all 0.3s ease;
}
